/* Vos customisations des classes de Bootstrap */

#get-involved{
	background-color: rgb(245, 245, 245);
}

/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

h3 , h2{
	color : rgb(231 , 76, 60);
}

.btn-default {
	color: rgb(231 , 76, 60); 

}

